;; .miraj/imports.edn

;; {hello.scripts {moment {:bower "moment"
;;                         :file "/bower_components/moment/min/moment-min.js"}
;;                 jquery {:cdn "https://code.jquery.com/jquery-2.1.1.min.js"}
;;                 app {:file "scripts/app.js"}
;;                 underscore {:bower "underscore"
;;                             :file "/bower_components/underscore/underscore-min.js"}
;;                 bootstrap-min {:bower "bootstrap"
;;                                :file "/bower_components/bootstrap/dist/js/bootstrap.min.js"}
;;                 less {:bower "less"
;;                       :file "/bower_components/less/dist/less.js"}
;;                 minless {:bower "less"
;;                          :file "/bower_components/less/dist/less.min.js"}
;;                 materialize {:bower "materialize"
;;                              :file "/bower_components/Materialize/bin/materialize.js"}
                ;; }}

{hello.styles {pure {:bower "pure"
                     :type :css
                     :cdn "http://yui.yahooapis.com/pure/0.6.0/pure-min.css"}
                     ;; :file "/bower_components/pure/pure-min.css"}
               button {:file "/styles/button.html"
                      :type :css}
               hello {:file "/styles/hello.css"
                      :type :css}
               cards {:file "/styles/cards.css"
                      :type :css}
               bootstrap-min {:bower "bootstrap"
                              :type :css
                              :file "/bower_components/bootstrap/dist/css/bootstrap.min.css"}
               materialize {:bower "materialize"
                            :type :css
                            :file "/bower_components/Materialize/bin/materialize.css"}}

 ;; uncommment if running on jetty
 ;; hello.resources {statics :uri "target"}

  hello.fonts {mdicons "https://fonts.googleapis.com/icon?family=Material+Icons"
               :type :font}

 goodbye.styles {pure {:bower "pure"
                     :type :css
                     :cdn "http://yui.yahooapis.com/pure/0.6.0/pure-min.css"}
                     ;; :file "/bower_components/pure/pure-min.css"}
               goodbye {:file "/styles/goodbye/goodbye.css"
                      :type :css}
               world {:file "/styles/goodbye/world.css"
                      :type :css}
               bootstrap-min {:bower "bootstrap"
                              :type :css
                              :file "/bower_components/bootstrap/dist/css/bootstrap.min.css"}
               materialize {:bower "materialize"
                            :type :css
                            :file "/bower_components/Materialize/bin/materialize.css"}}

 ;; uncommment if running on jetty
 ;; goodbye.resources {statics :uri "target"}

  goodbye.fonts {mdicons "https://fonts.googleapis.com/icon?family=Material+Icons"
               :type :font}}
