{:miraj.polymer/styles [[miraj.polymer.iron.icons iron]
                        [miraj.polymer.iron.styles flex-mixins]
                        [miraj.polymer.paper.styles color typography]]

 :css                   [[styles.shared-styles :custom [shared-styles]]
                         ["/styles/main.css"]]

 :imports               [styles.app_theme index.routing]}

;; <link rel="import" href="../styles/app-theme.html">
;; <link rel="import" href="../styles/shared-styles.html">

